:root{
    --bg-color: #121212;
    --font-color: rgb(132, 132, 132);
    --border-color: rgb(85, 85, 85);
}

body{
    margin-top: 50px;
    /* background-color: var(--bg-color); */
    color: var(--font-color);

}

.completed{
    text-decoration: line-through;
}

.item-card{
   
    padding-top: 2%;
  
}
.div-item{
    /* border: var(--border-color) 1px solid; */
}

.advertencia{
    padding-top: 3%;
}